@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.home {
  height: 300vh;

  .analyzer-container {
    background-image: linear-gradient(
      to bottom left,
      rgba(47, 20, 106, 255),
      rgba(47, 193, 201, 255)
    );
    display: flex;
    justify-content: space-around;
    height: 125vh;

    .about-container {
      max-width: 150rem;
      animation: fadeIn 4s;
      margin: 8rem 6rem 10rem 2rem;
      color: aliceblue;

      .wrapper {
        display: inline-flex;
        margin-left: 0rem;
      }
      
      
      .wrapper .dynamic-txt {
        font-size: 1.75rem;
        font-weight: 500;
        margin-left: 15px;
        line-height: 35px;
        height: 35px;
        overflow: hidden;
      }
      
      .dynamic-txt li {
        list-style: none;
        position: relative;
        animation: slide 12s steps(4) infinite;
        border-bottom: 30px;
        top: 0;
      }
      
      @keyframes slide {
        100% {
          top: -145px;
        }
      }
      
      .dynamic-txt li span {
        position: relative;
      }
      
      .dynamic-txt li span::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background: rgb(47, 100, 150);
        border-left: 2px solid aliceblue;
        animation: typing 3s steps(21) infinite;
      }
      
      @keyframes typing {
        100% {
          left: 100%;
          margin: 0 -35px 0 35px;
        }
      }

      h2 {
        font-size: 2.5rem;
        font-weight: 500;
      }

      p {
        font-size: 1.5rem;
        font-weight: 350;
      }
    }

    .analyzer {
      height: 70vh;
      width: 80rem;
      background-color: white;
      margin: 5rem 8rem 6rem 4rem;

      .view {
        height: 70%;
        margin: 1rem;
        border: dashed rgb(198, 193, 193) 3px;
        text-align: center;

        ul {
          padding: 0;
          list-style: none;
        }

        li,
        p {
          font-size: 1.1rem;
        }

        img {
          margin-top: 2rem;
        }

        #imglogo,
        #error {
          height: 4.5rem;
          width: 4.5rem;
        }
      }

      .result-container {
        margin: 1rem;
        display: flex;
        justify-content: space-between;

        .result {
          margin: 0 2px;
          p {
            margin: 0;
            position: relative;
            top: -10px;
          }

          #probability {
            font-size: 2rem;
            text-align: center;
          }
        }

        .standard_button {
          align-items: center;
          background-color: #fff;
          border: 2px solid #000;
          box-sizing: border-box;
          color: #000;
          cursor: pointer;
          display: inline-flex;
          fill: #000;
          font-family: Inter, sans-serif;
          font-size: 16px;
          font-weight: 600;
          height: 48px;
          justify-content: center;
          letter-spacing: -0.8px;
          line-height: 24px;
          min-width: 5rem;
          outline: 0;
          padding: 0 5px;
          text-align: center;
          text-decoration: none;
          transition: all 0.3s;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          border-radius: 4px;
        }

        .standard_button:focus {
          color: #171e29;
        }

        .standard_button:hover {
          border-color: darkgreen;
          color: darkgreen;
          background-color: rgb(207, 243, 254);
          fill: darkgreen;
        }

        .standard_button:active {
          border-color: #06f;
          color: #06f;
          fill: #06f;
        }

        @media (min-width: 768px) {
          .standard_button {
            min-width: 170px;
          }
        }
      }
    }
  }

  .about-us {
    height: 70vh;
    text-align: center;
    margin-bottom: 300px;
    .images{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
    .text{
      margin: 0px 100px 0px 100px;
    }

    .text1 {
      margin: 25px 100px 50px 125px;
    }
  }
  .about-us h3{
    font-family: 'Montserrat';
  }
  .about-us img{
    border: 5px solid #555;
      border-style: solid;
      border-width: 10px;
      border-image: linear-gradient(45deg, rgb(38, 0, 143), rgb(250, 170, 66)) 1;
    }
  .about-us p{
      margin: 100px;
  }

  .methadology {
    height: 100vh;
    margin: 200px;
    text-align: center;
  }
}


